.filters-bar{
   box-shadow: 0 4px 10px rgba(186, 191, 206, 0.3);
   margin:auto;
   z-index: 2;
   border-radius: 6px;
   transition: height .5s cubic-bezier(.165,.84,.44,1),transform .5s cubic-bezier(.165,.84,.44,1),-webkit-transform .5s cubic-bezier(.165,.84,.44,1);
   height: 90px;
   background-color: white;
   max-width: 95%;
   display: none;

   @media (min-width: $screen-sm-min) {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 350px;
      max-width: 730px;
   }

   @media (min-width: $screen-sm-min) {
      top: 505px;
   }
   @media (min-width: $screen-md-min) {
      top: 555px;
      max-width:900px;
   }
   @media (min-width: $screen-lg-min) {
      top: calc(100vh - 45px);
      max-width:1035px;
      margin: 0 auto;
   }
   @media (min-width: $screen-xl-min) {
      //top: calc(100vh - 130px);
   }
   @media (min-width: 1500px) {
      //margin-right: 120px;
      //margin-left: 120px;
   }
   @media (min-width: 1700px) {
      //margin-right: 260px;
      //margin-left: 260px;
   }
   &.open{
      height: 180px;
      transform:translateY(-90px);

      .form-filters__bottom{
         opacity: 1;
         transition: opacity .8s cubic-bezier(.25,.46,.45,.94) .3s;
      }
      .go{
         height: 180px;
         line-height: 180px;
      }
   }
}
.form-filters{
   width: 100%;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-align-content: space-between;
   -ms-flex-line-pack: justify;
   align-content: space-between;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;

   &__wrap{
     width: 100%;
   }
   &__search{
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height:90px;
      z-index: 11;
      pointer-events: none;
      right:120px;

      @media (min-width: $screen-md-min) {
         right:200px;
      }
      .form-filters__field{
         padding: 0 15px 0 30px;
      }
      .form-filters__item.search{
         width: 100%;
      }

      &.show{
         pointer-events: auto;
         .form-filters__search-inner{
            -webkit-transform: translateX(0);
            transform: translateX(0);
         }
         .form-filters__field{
            background-color: initial;
         }
         .form-filters__item:last-of-type,
         .form-filters__item:first-of-type{
           width: auto;
         }
      }
      &-inner{
         background-color: white;
         transition: transform 1s cubic-bezier(.77,0,.175,1) 0s,-webkit-transform 1s cubic-bezier(.77,0,.175,1) 0s;
         pointer-events: auto;
         display: flex;
         -webkit-justify-content: space-between;
         -ms-flex-pack: justify;
         justify-content: space-between;
         -webkit-align-content: space-between;
         height: 90px;
         border-bottom: 1px solid $grey-color;
         -webkit-transform: translateX(520px);
         transform: translateX(520px);

         @media (min-width: $screen-md-min) {
            -webkit-transform: translateX(600px);
            transform: translateX(600px);
         }
         @media (min-width: $screen-lg-min) {
            -webkit-transform: translateX(735px);
            transform: translateX(735px);
         }

         input[type=text]{
            padding-top: 20px;
         }
         label{
            color:$main-blue-color;
            font-size: 14px;
            font-weight: $font-weight-medium;
            font-family: $font-family-primary;
            position: absolute;
             left: 30px;
             top: -20px;
         }
      }
   }
   &__line{
      // display: flex;
      // -webkit-justify-content: space-between;
      // -ms-flex-pack: justify;
      // justify-content: space-between;
      // -webkit-align-content: space-between;
      height: 90px;

   }

   &__top{
      border-bottom: 1px solid $grey-color;
      //padding-right: 90px;

      @media (min-width: $screen-md-min) {
        //padding-right: 100px;
      }

      .form-filters__item:last-of-type{
        width: calc(25% - 100px);
        > .icon {
          width: 100%;
        }
      }
   }
   &__bottom{
      opacity: 0;
      transition: opacity .2s cubic-bezier(.165,.84,.44,1) 0s;

      .form-filters__item{
         width: 50%;
         // width: 49%;
      }
   }

   &__item{
      position: relative;
      border-right: 1px solid $grey-color;
      transition: all .5s cubic-bezier(.165,.84,.44,1);
      webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
      color: $main-grey-color;
      width: 25%;
      float: left;


      > .icon{
         font-size: 24px;
         line-height: 90px;
         color: $main-grey-color;
         transition: transform .5s ease-in;
         cursor: pointer;
         width: 90px;

         @media (min-width: $screen-md-min) {
            width: 100px;
         }

         &:hover{
            color: $white-color;
            background-color: $main-blue-color;
            opacity: 1;
         }
      }
      >.icon--plus{
         &::before{
            transform: rotate(225deg);
            display: block;
            transition: transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1)
         }

         &.close{
            &::before{
               transform: rotate(0);
            }
         }
      }
      >.icon--close{
         &:hover,
         &:active{
            &::before{
               transform: rotate(265deg);
               display: block;
               transition: transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1)
            }
         }
      }

   }
   &__icon{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      margin:auto;

      @media (min-width: $screen-md-min) {
         left: 15px;
         width: 30px;
         height: 30px;
      }
   }
   &__field{
      position: relative;
      height: 90px;
      line-height: 90px;
      transition: .3s all ease-in;
      padding: 0 10px 0 35px;

      @media (min-width: $screen-md-min) {
         padding: 0 15px 0 60px;
      }

      &:hover{
         color: $white-color;
         background-color: $main-blue-color;
      }
      button{
         font-size: 1rem;
         font-weight: $font-weight-medium;
         font-family: $font-family-primary;
      }
      input,
      input[disabled]{
         cursor: pointer;
         color: $main-grey-color;
         transition: .3s all ease-in;

         &::-webkit-input-placeholder{
            color:$main-grey-color;
         }
         &::-moz-placeholder{
            color:$main-grey-color;
         }
         &::placeholder{
            color:$main-grey-color;
         }
         &::-ms-input-placeholder{
            color:$main-grey-color;
         }
      }
      input{
         cursor: pointer;
         height: 90px;
         float: left;
         width: 100%;
         font-size: 1rem;
         font-weight: $font-weight-medium;
         font-family: $font-family-primary;

         &::placeholder,
         &::-ms-input-placeholder{
            color: $main-grey-color;
         }
      }

   }
}
.go{
   position: relative;
   font-family: $font-family-primary;
   font-weight: $font-weight-bold;
   letter-spacing: .1rem;
   float: left;
   width: 100%;
   height: 90px;
   padding: 0 5px;
   background-color: $main-blue-color;
   color: white;
   text-transform: uppercase;
   font-size: 1rem;
   color: white;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   transition: height .5s cubic-bezier(.165,.84,.44,1);
   z-index: 1;

   &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: $dark-blue-color;
      transform: scaleY(0);
      -webkit-transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1) 0s;
      transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1) 0s;
      transition: transform .5s cubic-bezier(.165,.84,.44,1) 0s;
      transition: transform .5s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform .5s cubic-bezier(.165,.84,.44,1) 0s;
      -webkit-transform-origin: top left;
      transform-origin: top left;
   }

   @media (min-width: $screen-sm-min) {
      width: 120px;
   }
   @media (min-width: $screen-md-min) {
      width: 200px;
   }
   &:focus,
   &:hover{
      color: white;
      outline: none;

      &:after{
         -webkit-transform: scaleY(1);
         transform: scaleY(1);
         -webkit-transform-origin: bottom left;
         transform-origin: bottom left;
      }
   }
}
